.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
.vercel/
.vercel-cache/
.idea/
*.iml
.DS_Store
.env
.env.*
android/local.properties
android/.gradle/
**/ephemeral/
**/.symlinks/
**/Pods/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

